.card-layout {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(min(200px,100%), 1fr) );
  column-gap: 8px;
  row-gap: 8px;
  height: 75vh;
  justify-content: stretch;
}

.card-view-container {
  position: relative;
  min-height: calc(180px * 1.414);
}

.card-count {
  position: absolute;
  bottom: 0;
  left: 50%;
  font-size: 3rem;
  text-align: center;
  transform: translate(-50%, 0%);
  z-index: 3;
}

.card-view-container:before {
  content: '';
  width: 60px;
  height: 60px;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #060606;
  opacity: 0.8;
  z-index: 2;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -6px);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 32px;
}

.header h2 {
  font-size: 3rem;
}

.header .link {
  opacity: 0.6;
}

@media (max-width: 700px) {
  .card-layout {
    grid-template-columns: repeat( auto-fit, minmax(120px, 1fr) );
  }

  .card-view-container {
    min-height: calc(120px * 1.414);
  }

  .header h2 {
    font-size: 1.5rem;
  }

  .header {
    text-align: center;
  }

  .container {
    padding-left: 8px;
    padding-right: 8px;
  }

  .card-count {
    font-size: 2rem;
    transform: translate(-50%, 0%);
  }
  
  .card-view-container:before {
    width: 40px;
    height: 40px;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1240px) {
  .card-layout {
    grid-template-columns: repeat( auto-fit, minmax(min(180px,100%), 1fr) );
  }

  .header h2 {
    font-size: 2.5rem;
  }

  .header {
    text-align: center;
  }

  .card-count {
    font-size: 2.5rem;
    transform: translate(-50%, 0%);
  }
  
  .card-view-container:before {
    width: 50px;
    height: 50px;
  }
}
